<md-sidenav-container>
    <button md-button (click)="mainnav.open()">Menu</button>
    <md-sidenav #mainnav mode="over" class="app-sidenav" align="end">
        <!-- sidenav content -->
        <nav>
            <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Index
      </a>

            <a [routerLink]=" ['./detail'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Detail
      </a>
            <a [routerLink]=" ['./barrel'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Barrel
      </a>
            <a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        About
      </a>
        </nav>
    </md-sidenav>



    <main>
        <slider [headline]="'BUMDIDA'"></slider>
        <router-outlet></router-outlet>
    </main>

    <!-- primary content -->
</md-sidenav-container>