<div>
    <div id="sliderRoot">
        <ul>
            <li data-image="https://cdn2.workingnotworking.com/assets/home/curated_advertising_bp2-2ffda4fab9aad5a240c82fafac33a7617b492074f96b02f6bc1b195da65bfc71.jpg">
                <h3>{{headline}}</h3>
                <p>LOREM TRALALALALA</p>
            </li>
            <li data-image="https://cdn1.workingnotworking.com/assets/home/curated_design_bp2-d9dbdcf18ea14c28495948546a8d786583f48795089afd6fa1185a326ee8a4d3.jpg">
                <h3>{{headline}}</h3>
            </li>
            <li data-image="https://cdn2.workingnotworking.com/assets/home/curated_advertising_bp2-2ffda4fab9aad5a240c82fafac33a7617b492074f96b02f6bc1b195da65bfc71.jpg">
                <h3>Lorem Ipsum</h3>
                <p>LOREM TRALALALALA</p>
            </li>
            <li data-image="https://cdn1.workingnotworking.com/assets/home/curated_design_bp2-d9dbdcf18ea14c28495948546a8d786583f48795089afd6fa1185a326ee8a4d3.jpg">
                <h3>Lorem Ipsum</h3>
            </li>
        </ul>
        <div class="slider--background">
        </div>
    </div>
</div>